@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700);.yyy * {
  outline: 1px solid red; }

.advantage__group, .how-it-works__group {
  margin-left: -15px;
  margin-right: -15px; }

.advantage__item, .how-it-works__item {
  padding-left: 15px;
  padding-right: 15px; }

.jumbotron__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; }

.jumbotron__title, .jumbotron__ul li, .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #767676;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

a {
  color: #767676;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: inherit;
    text-decoration: none; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover:focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #43b329;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 20;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .loader {
    width: 80px;
    height: 80px;
    border: 16px solid #fff;
    border-radius: 50%;
    border-top-color: #43b329;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: 1.5s spin infinite linear;
            animation: 1.5s spin infinite linear; }
  .preloader--done {
    opacity: 0;
    visibility: hidden; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

.container {
  width: 100%;
  max-width: 1054px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-size: 42px;
  color: #494949;
  font-weight: 500;
  margin-bottom: 14px; }

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #43b329; }

.lead {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px; }
  .lead b,
  .lead strong {
    font-weight: 400; }

p {
  font-size: 18px; }

.text-primary {
  color: #43b329; }

.prof__box-img {
  margin-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px; }

.advantage {
  margin-bottom: 50px; }
  .advantage__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px; }
    @media screen and (min-width: 768px) {
      .advantage__item {
        width: 50%; } }
    .advantage__item--box {
      width: 140px; }
    .advantage__item--text {
      width: 100%; }

.brokers-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 50px; }
  .brokers-img__item {
    width: calc((100% - 30px) / 3);
    max-width: 250px;
    height: auto; }
    @media screen and (min-width: 768px) {
      .brokers-img__item {
        width: calc((100% - 60px) / 3); } }
    .brokers-img__item + .brokers-img__item {
      margin-left: 10px; }
      @media screen and (min-width: 768px) {
        .brokers-img__item + .brokers-img__item {
          margin-left: 30px; } }

.how-it-works__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.how-it-works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .how-it-works__item {
      width: 50%; } }
  .how-it-works__item--box {
    width: 100px; }
  .how-it-works__item--text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .how-it-works__item--btn {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px; }

.right-arrow {
  display: none; }
  @media screen and (min-width: 768px) {
    .right-arrow {
      display: block; } }

.left-arrow {
  display: none;
  text-align: right; }
  @media screen and (min-width: 768px) {
    .left-arrow {
      display: block; } }

.b-footer {
  border-top: 1px solid #c7dfc1;
  padding-top: 36px; }
  @media screen and (min-width: 768px) {
    .b-footer {
      padding-bottom: 36px; } }

.important-note {
  font-size: 12px;
  margin-bottom: 20px; }

.header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 130px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header--top {
    background: #000;
    height: 90px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 155px;
  height: 70px;
  background: no-repeat url("https://osandriets.github.io/example-page/static/img/crypto_trader.svg"); }
  .logo__text {
    display: none; }

.b-header__feedback {
  text-align: right; }
  @media screen and (min-width: 768px) {
    .b-header__feedback {
      padding-bottom: 30px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.phone {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  font-size: 20px;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .phone {
      font-size: 40px;
      line-height: 46px;
      display: block; } }

.nav-header {
  list-style: none;
  padding-left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  display: none; }
  @media screen and (min-width: 768px) {
    .nav-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .nav-header__link {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px; }
    .nav-header__link:hover {
      color: #43b329;
      text-decoration: none; }

.nav-footer {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  text-align: center; }
  .nav-footer__item {
    width: 100%;
    border-top: 1px solid #767676; }
  @media screen and (min-width: 768px) {
    .nav-footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .nav-footer__item {
        width: auto;
        border: none; }
      .nav-footer__item:not(:last-child)::after {
        border: none;
        content: '|'; } }
  .nav-footer__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px; }
    @media screen and (min-width: 768px) {
      .nav-footer__link {
        width: auto; } }
    .nav-footer__link:hover {
      text-decoration: underline; }

.jumbotron {
  background-color: #000;
  background-image: url("https://osandriets.github.io/example-page/static/img/jumbotron_bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  padding-top: 130px;
  padding-bottom: 120px;
  background-attachment: fixed; }
  .jumbotron__title {
    color: #fff;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 60px; }
    @media screen and (min-width: 768px) {
      .jumbotron__title {
        font-size: 88px;
        letter-spacing: -0.2px; } }
  .jumbotron__text {
    color: #fff;
    font-size: 26px;
    margin-bottom: 50px; }
    .jumbotron__text--bold {
      font-weight: 700;
      display: inline-block; }
  @media screen and (min-width: 768px) {
    .jumbotron__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .jumbotron__about {
      width: 60%; }
    .jumbotron__form {
      width: 38%; } }
  .jumbotron__ul {
    padding-left: 40px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .jumbotron__ul li {
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 16px;
      position: relative; }
      @media screen and (min-width: 768px) {
        .jumbotron__ul li {
          font-size: 32px; } }
      .jumbotron__ul li .icon {
        position: absolute;
        left: -40px;
        top: 4px; }

.btn {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: #43b329;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 100%;
  letter-spacing: -0.5px; }
  .btn:hover {
    color: #fff;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: #2c751b; }

.register-form__group {
  margin-bottom: 20px; }
  .register-form__group--tell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.register-form__input, .register-form__textarea {
  display: block;
  width: 100%;
  color: #767676;
  padding: 14px 18px;
  background-image: none;
  border: 1px solid #c3c3c3;
  border-radius: 5px; }
  .register-form__input::-webkit-input-placeholder, .register-form__textarea::-webkit-input-placeholder {
    font-size: 18px; }
  .register-form__input:-ms-input-placeholder, .register-form__textarea:-ms-input-placeholder {
    font-size: 18px; }
  .register-form__input::-ms-input-placeholder, .register-form__textarea::-ms-input-placeholder {
    font-size: 18px; }
  .register-form__input::placeholder, .register-form__textarea::placeholder {
    font-size: 18px; }
  .register-form__input--error, .register-form__textarea--error {
    border: 1px solid #ff8383; }
  .register-form__input--78, .register-form__textarea--78 {
    width: 78px;
    margin-right: 20px; }

.register-form__textarea {
  max-width: 100%;
  min-height: 140px; }

.register-form__footer {
  padding-top: 10px;
  text-align: center; }

.register-form__btn {
  width: 100%;
  text-transform: uppercase; }

.icon-check {
  background: no-repeat url("https://osandriets.github.io/example-page/static/img/check.svg");
  display: inline-block;
  width: 30px;
  height: 25px; }

.icon-arrow {
  padding: 30px 10px; }

.burger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .burger span, .burger::after, .burger::before {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #43b329;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .burger span {
    top: 18px;
    -webkit-transform-origin: left center;
            transform-origin: left center; }
  .burger::after {
    content: "";
    top: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center; }
  .burger::before {
    content: "";
    top: 36px;
    -webkit-transform-origin: left center;
            transform-origin: left center; }
  .burger--open::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -3px;
    left: 8px; }
  .burger--open span {
    width: 0%;
    opacity: 0; }
  .burger--open::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 39px;
    left: 8px; }

/*# sourceMappingURL=app.css.map*/