.btn {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  color: $white;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: $color-primary;
  transition: all 0.3s ease;
  border-radius: $border-radius;
  width: 100%;
  letter-spacing: -0.5px;

  @extend %font-rc-bold;

  &:hover {
    color: $white;
    transform: scale(1.05);
    background: darken($color-primary, 15%);
  }
}

.register-form {
  &__group {
    margin-bottom: 20px;

    &--tell {
      display: flex;
    }
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    color: $body-color;
    padding: 14px 18px;
    background-image: none;
    border: 1px solid #c3c3c3;
    border-radius: $border-radius;

    &::placeholder {
      font-size: 18px;
    }

    &--error {
      border: 1px solid #ff8383;
    }

    &--78 {
      width: 78px;
      margin-right: 20px;
    }
  }

  &__textarea {
    max-width: 100%;
    min-height: 140px;
  }

  &__footer {
    padding-top: 10px;
    text-align: center;
  }

  &__btn {
    width: 100%;
    text-transform: uppercase;
  }
}
